{% extends 'store/base.html' %} {% block title %}{{ category.name }}{% endblock
%} {% block content %}
<h1>{{ category.name }}</h1>
<p class="lead">ამ კატეგორიის ყველა პროდუქტი.</p>
<section class="grid">
  {% for product in products %}
  <article class="card">
    <a class="product-link" href="{% url 'product_detail' product.id %}"
      >{% if product.has_discount %}<span class="tag">SALE</span>{% endif
      %}<span class="category">{{ product.category.name }}</span>
      <h2 class="name">{{ product.name }}</h2>
      <p class="description">
        {{ product.description|default:"აღწერა არ არის მითითებული." }}
      </p>
      <strong class="price">₾{{ product.price }}</strong
      ><span class="more">იხილე დეტალურად →</span></a
    >
  </article>
  {% empty %}
  <p class="empty">ამ კატეგორიაში პროდუქტი არ არის.</p>
  {% endfor %}
</section>
{% endblock %}
